html, body {
    height: 100%;
    margin: 0;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
